hr {
    background-color: var(--head-color);
    height: 3px;
}
/* Start about-us */
.about {
    padding: 50px 20px;
    
}
.about .container {
    background-color: #edf1fa;
    text-align: center;
    /* background-image: url(../image/Background_Pattern.png); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about .container .row {
    padding: 30px 0;
}
.about .container .row .gm {
    width: 200px;
    height: 220px;
    border: 10px solid var(--head-color);
    border-radius: 20%;
}
.about .container .row .info {
    text-align: right;
}
.about .container .row .info h3 {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    width: fit-content;
}
.about .container .row .info h3::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 7px;
}

.about .container .row .info p {
    text-align: justify;
}
.about .container .row .info h4,
.about .container .row .info span {
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-left: 70px;
    color: #272A5F;
}
.about .container .row .info span {
    margin-left: 40px;
    color: #F9B342;
}
.about .container .info img {
    height: 90px;
    width: 350px;
    margin: 30px 0;
    position: relative;
    box-shadow: var(--box-shadow);

}
.about .container .vision  {
    padding: 50px 0;
    background-color: var(--main-color);
}

.about .container .vision .row h3 {
    font-weight: bold;
}
.about .container .vision img {
    height: 150px;
    margin-bottom: 20px;

}
.about .container .our-mission {
    padding: 50px 20px;
}
.about .container .our-mission img {
    height: 150px;
    margin-bottom: 20px;

}
.about .container  p {
    padding: 0 10px;
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 1.5;
    text-align: center;
    font-weight: 600;
}
.about .container .goals {
    padding: 50px 0;
}
.about .container .goals .col-lg-3{
background-color: var(--head-color);
padding: 20px 10px;
color: white;
border-left: 2px solid white;
}
.about .container .goals .col-lg-3:last-child {
    border-left: transparent;
}
@media(max-width: 767px){
    .about .container .goals .col-lg-3 {
        border-left: transparent;
        border-bottom: 2px solid white;
    }
}
.about .container .goals .image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: auto;
}
.about .container .goals .image img {
    width: 50px;
}
.about .container .goals .content h4 {
    color: var(--main-color);
    font-size: 16px;
    margin-top: 30px;
}

/* End about-us */
