

/* Start news */
.news {
    text-align: right;
    overflow: hidden;
}
.news .container .image img {
    width: 100%;
    margin-bottom: 20px;

}
.news .container .text{
    padding: 50px 0;
}
.news .container .text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    color: #272A5F;
    text-align: justify;

}
/* End news */
