

/* Start news */
.latest-news {
    position: relative;
    text-align: right;
    overflow: hidden;
    
}
.latest-news .heading {
    background-image: url(../image/latest-news/background.jbg.png);
    background-size: cover;
}
.latest-news .container {
    margin-top: 100px;
}
.latest-news .container .image img {
    margin-bottom: 20px;
    transition: all 0.4s all;
}
.latest-news .container .card {
    position: relative;
    margin-bottom: 35px;
    transition: all 0.4s ease;
    overflow: hidden;
    text-align: right;
}
.latest-news .container .row .col-md-4 {
    width: 100%;
    padding: 10px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media(max-width: 767px){
   .latest-news .container .row .col-md-4{
       margin: 25px;
   }
}

.latest-news .container .card:hover .card-body {
    bottom: 0;
}
.latest-news .container .card-body{
    height:  auto;
    padding: 20px 10;
    background-color: #F0F4F5;
}
.latest-news .container .card-body h4{
    position: relative;
    text-align: right !important;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--head-color);
}
.latest-news .container .card-body h4::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 70px;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 10px;
}
.latest-news .container .card-body p {
    text-align: justify;
    color: #666;
}



/* Start news heading */
 .latest-news .container .row .col-md-4 h3 {
     position: relative;
     background-color: var(--head-color);
     color: white;
     padding: 10px;
     font-size: 15px;
     font-weight: bold;
     text-align: right;
     padding-right: 20px;
     border-bottom: 4px solid var(--main-color);
     overflow: hidden;
 }
 .latest-news .container .row .col-md-4 h3::after {
     position: absolute;
     content: "";
     right: -7px;
     top: 5;
     transform: translateY(28%) rotate(135deg);
     width: 15px;
     height: 15px;
     background-color: var(--main-color);
     
 }
 .latest-news .container .row .col-md-4 .news-heading .content {
    padding-top: 30px;
 }
 .latest-news .container .row .col-md-4 .news-heading .content  li  {
        position: relative;
        padding: 10px 7px;
        background-color: #edf1fa;
        margin-bottom: 10px;
        cursor: pointer;
        overflow: hidden;

 }
 .latest-news .container .row .col-md-4 .news-heading .content  li a {
    margin-right: 5px;
    color: var(--head-color);
    font-size: 13px;
    font-weight: 650;
    text-decoration: none;
    z-index: 10;
 }
 .latest-news .news-heading .content  li a {
     color: var(--main-color);
 }
 .latest-news  .news-heading .content  li::after {
     content: "";
     position: absolute;
     right: 0;
     bottom: 0;
     width: 4px;
     height: 100%;
     background-color: var(--head-color);
     overflow: hidden;
     transition: 0.5s ease;

 }



 .latest-news  .news-heading .content  li::before {
    content: "\f060";
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    left: 0;
    top: 0;
    line-height: 30px;
    padding: 12px 5px;
    width: 40px;
    text-align: center;
    color: var(--head-color);
    border-right: 1px solid rgba(0,0,0,.07);
    font-size: 12px;
    font-weight: 700;
    z-index: 10;

 }


 .latest-news .container .row .col-lg-7 .card img {
     width: 100%;
     height: 100%;
 }

 @media (max-width: 767px) {
    .latest-news .container .row .col-lg-7 .card img {
        width: 100%;
        max-height: 300px;
    }
 }
 /* End news */

