

/* Start video */
.video {
    padding: 50px 0;
}
.video .container video {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.video .container h4 {
    position: relative;
    text-align: right;
    font-weight: 600;
    width: fit-content;
    color: var(--head-color);
    margin-bottom: 30px;
}
.video .container h4::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 60%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 5px;
}

/* End video */

/* Start images */
.images {
    padding: 100px 0;
}
.images .container h4 {
    position: relative;
    text-align: right;
    font-weight: 600;
    width: fit-content;
    color: var(--head-color);
    margin-bottom: 30px;
}
.images .container h4::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 60%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 5px;
}
.images .row img {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* End images */
