

/* End video */

/* Start images */
.images {
    padding: 50px 0;
}
.images .container h4 {
    position: relative;
    text-align: right;
    font-weight: 600;
    width: fit-content;
    color: var(--head-color);
    margin-bottom: 30px;
}
.images .container h4::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 60%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 5px;
}
.images .container .row img {
    width: 100%;
    height: 100%;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.images .container .row .content {
    position: relative;
    margin-bottom: 30px;
    transition: all 0.4s ease;
    overflow: hidden;
}
.images .container .row .content::before{
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(141, 198, 245, 0.466);
    transition: all 0.4s ease;
}
.images .container .row .content h5 {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: var(--head-color);
    font-weight: 500;
}
.images .container .row .content:hover::before, h5
{
    top: 0;
}
/* End images */
